StardewValley/
TagStudio/
cli-chess/
btop/
doom/
emacs/
gh/
github-copilot/
iterm2/
jerry/
kitty/
linearmouse/
lobster/
mpv/
neofetch/
nvim/
qBittorrent/
ranger/
raycast/
spotify-player/
weechat/
zsh-abbr/
pulse/
hyfetch.json
zsh/.zsh_history

**/.DS_Store
