StardewValley/
TagStudio/
cli-chess/
btop/
doom/
emacs/
gh/
github-copilot/
iterm2/
jerry/
kitty/
linearmouse/
lobster/
mpv/
neofetch/
nvim/
qBittorrent/
ranger/
raycast/
spicetify/
spotify-player/
weechat/
zsh-abbr/
hyfetch.json

**/.DS_Store
